:root {
    --tm-dark: #0f0e17;
    --tm-lightblue: #5ecae3;
    --tm-pink: #e73170;
    --tm-white: #fffffe;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
}

.container {
    width: 70%;
    margin: auto;
}

img {
    max-width: 30%;
    float: left;
    margin-right: 0.5rem;
}

#site_header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    color: var(--tm-pink);
}

h1, h4 {
    font-family: 'Fredoka One';
}

.card {
    margin-top: 2rem;
    background-color: var(--tm-dark);
    color: var(--tm-white);
}

.col_3 {
    width: calc(100% / 3);
    float: left;
    padding-left: 2rem;
}

h4 {
    padding-top: 0.7rem;
}

.email {
    color: var(--tm-lightblue);
}

.job, .email {
    padding-top: 0.3rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    background-color: rgb(244, 244, 244);
}

